    {% extends ':template:template.html.twig' %}



    {% block contentheader %}

    <section class="content-header">
        <h1>
            Aluno
            <small>Mostrar</small>
        </h1>
    </section>

    {% endblock %}

    {% block firstrow %}

    {% for message in app.session.flashBag.get('notice') %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
        </div>
    </div>
    {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

    <div class="col-md-2 col-sm-3 col-xs-3">

        <a href="{{ path('cadastro_pais_show',{ 'id': aluno.pais.id }) }}" class="btn btn-primary btn-sm link-search">
            <span class="fa fa-reply"></span>
            Mostrar pai
        </a>

    </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_aluno_edit', { 'id': aluno.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="{{ path('cadastro_informacaocomplementar_new', { 'aluno': aluno.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="fa fa-reply"></span>
                Informação Complementar
            </a>
        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="{{ path('cadastro_contratos_new', { 'aluno': aluno.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="fa fa-plus"></span>
                Contrato
            </a>
        </div>

</div>{% endblock %}



    {% block panelbody %}

    <div class="table table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Nome</th>
                        <td>{{ aluno.nome }}</td>
                </tr>
                <tr>
                    <th>Datanascimento</th>
                        <td>{% if aluno.dataNascimento %}{{ aluno.dataNascimento|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Valormensalidade</th>
                        <td>{{ aluno.valorMensalidade|number_format(2,',','.') }}</td>
                </tr>
                <tr>
                    <th>Vencimento</th>
                        <td>{% if aluno.vencimento %}{{ aluno.vencimento|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Serie</th>
                        <td>{{ aluno.serie }}</td>
                </tr>
                <tr>
                    <th>Sala</th>
                        <td>{{ aluno.sala }}</td>
                </tr>
                <tr>
                    <th>Escola</th>
                    <td>{{ aluno.escola.nome }}</td>
                </tr>
                <tr>
                    <th>Turno</th>
                    <td>{{ aluno.turno.descricao }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if aluno.status == 1 %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    {% endblock %}
