{#

{% extends ':template:template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("bundles/mrssge/css/dataTables.bootstrap.css") }}">

{% endblock %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                FinancasParcelamento
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('cadastro_financasparcelamento_new', {'financa' : financa.id }) }}" class="btn btn-primary btn-sm link-search">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>
    {% endblock %}

    {% block panelbody %}

#}

        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Valor parcial</th>
                    <th>Data de pagamento</th>
                </tr>
                </thead>
                <tbody>
                {% for financasParcelamento in financasParcelamentos %}
                    <tr>
                        <td>
                            {#<a href="{{ path('cadastro_financasparcelamento_show', { 'id': financasParcelamento.id }) }}" class="btn btn-primary btn-xs link-search">#}
                                {#<span class="glyphicon glyphicon-eye-open"></span>#}
                                {#Mostrar#}
                            {#</a>#}
                            <a href="{{ path('cadastro_financasparcelamento_edit', { 'id': financasParcelamento.id }) }}" class="btn btn-primary btn-xs link-search">
                                <span class="glyphicon glyphicon-edit"></span>
                                Editar
                            </a>
                        </td>
                        <td>{{ financasParcelamento.valorParcial|number_format(2,',','.') }}</td>
                        <td>{% if financasParcelamento.dataPagamento %}{{ financasParcelamento.dataPagamento|date('d-m-Y') }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{#

    {% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("bundles/mrssge/js/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/mrs-dataTable.js") }}"></script>


{% endblock %}

#}