{% extends ':template:template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("bundles/mrssge/css/dataTables.bootstrap.css") }}">

{% endblock %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                Frequencia
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}

    {% block firstrow %}

        <div class="col-md-12">
            {% for turno in turnos %}
                {% if turno.id == turnoAtual.id %}
                    {% set color = 'info' %}
                {% else %}
                    {% set color = 'primary' %}
                {% endif %}
                <a href="{{ path('cadastro_frequencia_index',{ 'turno': turno.id }) }}" class="btn btn-{{ color }} btn-sm link-search">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ turno.descricao }}
                </a>
            {% endfor %}

        </div>

        {#{{ dump(fre) }}#}

        {#{{ dump(alunos) }}#}
    {% endblock %}

    {% block panelheading %}

        Quantidade Total de Alunos: {{ frequencias|length  }}

    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Escola</th>
                    <th>Turno</th>
                    <th>Aluno</th>
                    {#
                    <th>Levar</th>
                    <th>Entregar</th>
                    #}
                    <th>DATA</th>
                </tr>
                </thead>
                <tbody>
                {% for aluno in frequencias %}

                    {% if aluno.levar %}
                        {% set levar = 'success' %}
                    {% else %}
                        {% set levar = 'default' %}
                    {% endif %}

                    {% if aluno.entregar %}
                        {% set entregar = 'success' %}
                    {% else %}
                        {% set entregar = 'default' %}
                    {% endif %}

                    <tr>
                        <td>
                            <a href="{{ path('cadastro_frequencia_new', { 'aluno': aluno.id }) }}" class="btn btn-primary btn-sm link-search">
                                <span class="glyphicon glyphicon-list"></span>
                                Justificar
                            </a>

                            <a href="{{ path('cadastro_frequencia_levar', { 'aluno': aluno.id }) }}" class="btn btn-{{ levar }} btn-sm link-search">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Levar
                            </a>

                            <a href="{{ path('cadastro_frequencia_entregar', { 'aluno': aluno.id }) }}" class="btn btn-{{ entregar }} btn-sm link-search">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Entregar
                            </a>
                        </td>
                        <td>{{ aluno.escola }}</td>
                        <td>{{ aluno.turno }}</td>
                        <td>{{ aluno.aluno }}</td>

{#                        <td>{{ aluno.levar }}</td>
                        <td>{{ aluno.entregar }}</td>
#}
                        <td>{{ aluno.dia|date('D') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("bundles/mrssge/js/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/mrs-dataTable.js") }}"></script>


{% endblock %}