{% extends ':template:template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("bundles/mrssge/css/dataTables.bootstrap.css") }}">

{% endblock %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                Frequencia
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}

    {% block firstrow %}

        <div class="col-md-12">
            {% for turno in turnos %}
                {% if turno.id == turnoAtual.id %}
                    {% set color = 'info' %}
                {% else %}
                    {% set color = 'primary' %}
                {% endif %}
                <a href="{{ path('cadastro_frequencia_index',{ 'turno': turno.id }) }}" class="btn btn-{{ color }} btn-sm link-search">
                    <span class="glyphicon glyphicon-plus"></span>
                    {{ turno.descricao }}
                </a>
            {% endfor %}

        </div>


    {% endblock %}

    {% block panelheading %}

        Quantidade Total de Alunos: {{ alunos|length  }} Foram levados: {{ frequenciaQuantidade.total_levar }} Foram Entregues: {{ frequenciaQuantidade.total_entregar }}

    {% endblock %}


    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Aluno</th>
                    <th>Escola</th>
                    <th>Turno</th>

                    {#<th>Levar</th>#}
                    {#<th>Entregar</th>#}
                </tr>
                </thead>
                <tbody>
                {% for aluno in alunos %}

                    <tr>
                        <td>
                            {#<a href="{{ path('cadastro_frequencia_new', { 'aluno': aluno.id }) }}" class="btn btn-primary btn-sm link-search">#}
                                {#<span class="glyphicon glyphicon-list"></span>#}
                                {#Justificar#}
                            {#</a>#}

                            <a href="{{ path('cadastro_frequencia_levar', { 'aluno': aluno.id }) }}"
                               class="btn btn-{{ render(controller('MRSSgeBundle:Frequencia:validateLevar',{'aluno':aluno.id})) }} btn-sm link-search">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Levar
                            </a>

                            <a href="{{ path('cadastro_frequencia_entregar', { 'aluno': aluno.id }) }}"
                               class="btn btn-{{ render(controller('MRSSgeBundle:Frequencia:validateEntregar',{'aluno':aluno.id})) }} btn-sm link-search">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Entregar
                            </a>

                        </td>
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.escola.nome }}</td>
                        <td>{{ aluno.turno.descricao }}</td>

                        {#<td>{{ render(controller('MRSSgeBundle:Frequencia:validateLevar',{'aluno':aluno.id})) }}</td>#}
                        {#<td>{{ render(controller('MRSSgeBundle:Frequencia:validateEntregar',{'aluno':aluno.id})) }}</td>#}

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("bundles/mrssge/js/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/dataTables.bootstrap.js") }}"></script>
    <script src="{{ asset("bundles/mrssge/js/mrs-dataTable.js") }}"></script>


{% endblock %}