{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Financas
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

    {% block firstrow %}

        {% for message in app.session.flashBag.get('notice') %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
                </div>
            </div>
        {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_financas_index') }}" class="btn btn-primary btn-sm link-search">
                    <span class="fa fa-reply"></span>
                    Listar
                </a>

            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_financas_edit', { 'id': financa.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-edit"></span>
                    Editar
                </a>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_contratos_show', { 'id': financa.contrato.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-edit"></span>
                    Contrato
                </a>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_financasparcelamento_new', { 'financa': financa.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-plus"></span>
                    Parcelamento
                </a>

            </div>
        </div>
    {% endblock %}



    {% block panelbody %}

        <div class="table table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <th>Valor da Mensalidade</th>
                    <td>{{ financa.aluno.valorMensalidade |number_format(2,',','.') }}</td>
                </tr>
                <tr>
                    <th>Valor Total pago</th>
                    <td>{{ financa.valorTotalPago|number_format(2,',','.') }}</td>
                </tr>
                <tr>
                    <th>Data de Vencimento</th>
                    <td>{% if financa.dataVencimento %}{{ financa.dataVencimento|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Data Pagamento</th>
                    <td>{% if financa.dataPagamento %}{{ financa.dataPagamento|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{% if financa.status %}Pendente{% else %}Pago{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Parcelamento(s)</h3>
            </div>
            <div class="box-body">
                {{ render(controller('MRSSgeBundle:FinancasParcelamento:index',{'financa': financa.id })) }}
            </div>
        </div>

    {% endblock %}
