{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Escola
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

    {% block firstrow %}

        {% for message in app.session.flashBag.get('notice') %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
                </div>
            </div>
        {% endfor %}

    {% endblock %}


    {% block panelheading %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_escola_index') }}" class="btn btn-primary btn-sm link-search">
                    <span class="fa fa-reply"></span>
                    Voltar
                </a>

            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_escola_edit', { 'id': escola.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-edit"></span>
                    Editar
                </a>

            </div>


        <div class="col-md-2 col-sm-6 col-xs-6">
            <a href="{{ path('cadastro_veiculohasescola_new', { 'escola': escola.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="glyphicon glyphicon-plus"></span>
                Adicionar Veiculo
            </a>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            <a href="{{ path('cadastro_turnohasescola_new', { 'escola': escola.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="glyphicon glyphicon-plus"></span>
                Adicionar Turno
            </a>
        </div>
        </div>{% endblock %}



    {% block panelbody %}

        <div class="table table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <th>Nome</th>
                    <td>{{ escola.nome }}</td>
                </tr>
                <tr>
                    <th>Endereco</th>
                    <td>{{ escola.endereco }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>{{ escola.telefone }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    {% endblock %}

    {% block lastrow %}

        <div class="col-md-6 col-sm-12 col-xs-12">
            {{ render(controller('MRSSgeBundle:VeiculoHasEscola:index',{ 'escola' : escola.id })) }}
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12">
            {{ render(controller('MRSSgeBundle:TurnoHasEscola:index',{ 'escola' : escola.id })) }}
        </div>

    {% endblock %}