{% extends ':template:template.html.twig' %}


    {% block contentheader %}

        <section class="content-header">
            <h1>
                Pais
                <small>Novo</small>
            </h1>
        </section>

    {% endblock %}


    {% block panelheading %}

        <div class="row">

        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_pais_index') }}" class="btn btn-primary btn-sm link-search">
                <span class="fa fa-reply"></span>
                Voltar
            </a>

        </div>
        </div>{% endblock %}


    {% block panelbody %}

        {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
        {{ form_widget(form) }}

    {% endblock %}

    {% block panelfooter %}
        <div class="input-load">
            <button type="submit" class="btn btn-primary btn-sm input-search">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Salvar
            </button>
        </div>
        {{ form_end(form) }}

    {% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/mrssge/js/jquery.mask.js') }}"></script>

    <script>
    $(document).ready(function(){

            $('#pais_rg').mask('99-999-999-X',{'translation':{
                X: {pattern: /[x0-9]/}
            }});

            var SPMaskBehavior = function (val) {
                        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                    },
                    spOptions = {
                        onKeyPress: function(val, e, field, options) {
                            field.mask(SPMaskBehavior.apply({}, arguments), options);
                        }
                    };

            $('#pais_telefone1').mask(SPMaskBehavior,spOptions);
            $('#pais_telefone2').mask(SPMaskBehavior,spOptions);

            $('#pais_cpf').mask('999.999.999-99');

        });
    </script>


{% endblock %}