{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Pais
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

    {% block firstrow %}

        {% for message in app.session.flashBag.get('notice') %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
                </div>
            </div>
        {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

        <div class="col-md-2 col-sm-4 col-xs-4">

            <a href="{{ path('cadastro_pais_index') }}" class="btn btn-primary btn-sm link-search">
                <span class="fa fa-reply"></span>
                Listar Pais
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_pais_edit', { 'id': pai.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>
        <div class="col-md-2 col-sm-5 col-xs-5">
            <a href="{{ path('cadastro_aluno_new', { 'pai': pai.id }) }}" class="btn btn-primary btn-sm link-search">
                <span class="glyphicon glyphicon-plus"></span>
                Novo Aluno
            </a>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
            {% if endereco %}
                <a href="{{ path('cadastro_logradouro_edit', { 'id': endereco.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-edit"></span>
                    Endereço
                </a>
            {% else %}
                <a href="{{ path('cadastro_logradouro_new', { 'pai': pai.id }) }}" class="btn btn-primary btn-sm link-search">
                    <span class="glyphicon glyphicon-plus"></span>
                    Endereço
                </a>
            {% endif %}
        </div>
        </div>{% endblock %}



    {% block panelbody %}

        <div class="table table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <th>Nome</th>
                    <td>{{ pai.nome }}</td>
                </tr>
                <tr>
                    <th>Celular</th>
                    <td>{{ pai.telefone1 }}</td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td>{{ pai.telefone2 }}</td>
                </tr>
                <tr>
                    <th>Rg</th>
                    <td>{{ pai.rg }}</td>
                </tr>
                <tr>
                    <th>Cpf</th>
                    <td>{{ pai.cpf }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if pai.status == 1 %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Endereço</th>
                    <td>
                        {% if endereco %}
                            {{ endereco.logradouro  }} | {{ endereco.cep }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        {{ render(controller('MRSSgeBundle:Aluno:index',{'pai': pai.id})) }}


    {% endblock %}
